body {
  max-width: 1900px;
  display: grid;
  grid-template-rows: 150px 1fr 100px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: "Inter", sans-serif;
  text-align: center;
}

header {
  color: #000;
  font-size: 16px;
}

ul,
menu {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

.social-media {
  width: 24px;
  height: 24px;
}
